.version.untitled_2 /* version checker */
{
	color: #0000F5;
	background-color: #732D93;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 407.5416994106092px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #C5C5C5;
	padding-top: 80px;
	padding-bottom: 12.458300589390774px;
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#u1845
{
	z-index: 42;
	background-color: transparent;
	position: relative;
	width: 13.19%;
	margin-left: 12.41%;
}

#u1846
{
	z-index: 43;
	display: block;
	width: 100%;
}

#u1027
{
	z-index: 6;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 78px;
	position: relative;
	width: 96.29%;
	margin-left: 1.96%;
}

#pu1036
{
	margin-right: -10000px;
	width: 22.32%;
}

#u1036
{
	z-index: 7;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu1028
{
	z-index: 9;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 94px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 99.55%;
}

#buttonu1028:hover
{
	min-height: 0px;
	width: 99.55%;
	margin: 0px -10000px -1px 0%;
}

#u1029-4
{
	z-index: 10;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	width: 94.98%;
	left: 2.29%;
}

#buttonu1028:hover #u1029-4
{
	background-color: #C5C5C5;
	border-radius: 10px 0px 10px 0px ;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94.98%;
	margin: 102px -10000px 0px 0%;
}

#buttonu1028:hover #u1029-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pppu1030
{
	margin-right: -10000px;
	width: 48.18%;
	margin-left: 25.87%;
}

#pu1030
{
	margin-right: -10000px;
	width: 46.32%;
	margin-left: 53.69%;
}

#u1030
{
	z-index: 16;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu1044
{
	z-index: 32;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 94px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 99.55%;
}

#buttonu1028.ButtonSelected,#buttonu1044:hover
{
	min-height: 0px;
	width: 99.55%;
	margin: 0px -10000px -1px 0%;
}

#buttonu1044.ButtonSelected
{
	min-height: 0px;
	width: 99.55%;
	margin: 0px -10000px -1px 0%;
}

#u1045-4
{
	z-index: 33;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	width: 94.98%;
	left: 2.29%;
}

#buttonu1044:hover #u1045-4
{
	background-color: #C5C5C5;
	border-radius: 10px 0px 10px 0px ;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94.98%;
	margin: 102px -10000px 0px 0%;
}

#buttonu1044:hover #u1045-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1032
{
	z-index: 14;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 46.32%;
}

#buttonu1046
{
	z-index: 20;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 94px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 45.9%;
	left: 0.22%;
}

#buttonu1046:hover
{
	min-height: 0px;
	width: 45.9%;
	margin: 0px -10000px -1px 0%;
}

#buttonu1046.ButtonSelected
{
	min-height: 0px;
	width: 45.9%;
	margin: 0px -10000px -1px 0%;
}

#u1047-4
{
	z-index: 21;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	width: 95.42%;
	left: 2.3%;
}

#buttonu1046:hover #u1047-4
{
	background-color: #C5C5C5;
	border-radius: 10px 0px 10px 0px ;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 95.42%;
	margin: 102px -10000px 0px 0%;
}

#buttonu1046.ButtonSelected #u1047-4
{
	background-color: transparent;
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 95.42%;
	margin: 102px -10000px 0px 0%;
}

#buttonu1046:hover #u1047-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1040
{
	z-index: 25;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
	width: 46.11%;
	margin-left: 26.74%;
}

#buttonu1040:hover
{
	min-height: 0px;
	width: 46.11%;
	margin: 18px 0px 0px 26.736842105263158%;
}

#buttonu1040.ButtonSelected
{
	min-height: 0px;
	width: 46.11%;
	margin: 18px 0px 0px 26.736842105263158%;
}

#u1041
{
	z-index: 26;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 100.46%;
	left: 0.46%;
}

#buttonu1040:hover #u1041
{
	min-height: 0px;
	width: 100.46%;
	margin: -1px -10000px 0px 0%;
}

#buttonu1040.ButtonSelected #u1041
{
	min-height: 0px;
	width: 100.46%;
	margin: -1px -10000px 0px 0%;
}

#u1043-4
{
	z-index: 28;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	width: 94.98%;
	left: 2.29%;
}

#buttonu1040:hover #u1043-4
{
	background-color: #C5C5C5;
	border-radius: 10px 0px 10px 0px ;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94.98%;
	margin: 102px -10000px 0px 0%;
}

#buttonu1040:hover #u1043-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu1038
{
	margin-right: -10000px;
	width: 22.42%;
	margin-left: 77.49%;
}

#u1038
{
	z-index: 18;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 99.55%;
}

#u1036_img,#ppu1030,#u1030_img,#u1032_img,#u1041_img,#u1038_img
{
	width: 100%;
}

#buttonu1034
{
	z-index: 37;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 94px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 99.1%;
	left: 0.46%;
}

#buttonu1034:hover
{
	min-height: 0px;
	width: 99.1%;
	margin: 0px -10000px -1px 0%;
}

#buttonu1034.ButtonSelected
{
	min-height: 0px;
	width: 99.1%;
	margin: 0px -10000px -1px 0%;
}

#u1035-4
{
	z-index: 38;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	width: 94.98%;
	left: 2.29%;
}

#buttonu1034:hover #u1035-4
{
	background-color: #C5C5C5;
	border-radius: 10px 0px 10px 0px ;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94.98%;
	margin: 102px -10000px 0px 0%;
}

#buttonu1028.ButtonSelected #u1029-4,#buttonu1044.ButtonSelected #u1045-4,#buttonu1040.ButtonSelected #u1043-4,#buttonu1034.ButtonSelected #u1035-4
{
	background-color: transparent;
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94.98%;
	margin: 102px -10000px 0px 0%;
}

#buttonu1034:hover #u1035-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1028.ButtonSelected #u1029-4 p,#u1029-2,#buttonu1044.ButtonSelected #u1045-4 p,#u1045-2,#buttonu1046.ButtonSelected #u1047-4 p,#u1047-2,#buttonu1040.ButtonSelected #u1043-4 p,#u1043-2,#buttonu1034.ButtonSelected #u1035-4 p,#u1035-2
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u1833-4
{
	z-index: 2;
	min-height: 38px;
	margin-top: 12px;
	position: relative;
	width: 55.86%;
	margin-left: 22.08%;
}

.html
{
	background-color: #C5C5C5;
}

body
{
	position: relative;
	min-width: 320px;
}

